margin-top unit(var,
'px') {
  background: #00f;
}
body {
  background: #475cd1;
  color: #be2525;
  border: solid 1px #be2525;
  margin-left: 4px;
}
body main {
  margin: 10px 100px 200px;
  color: #475cd1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  border: solid 1px #475cd1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  zoom: 1;
}
body main:after,
body main:before {
  content: "";
  display: table;
}
body main:after {
  clear: both;
}
